<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Siana</title>
    <link rel="stylesheet" href="../public/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">

    </style>
</head>

<body>

    <header class="navbar">
        <div class="logo">
            <img src="../public/images/logo.png" alt="Siana Logo">
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="#" class="home-link" >Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Emergency</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </nav>
        <a href="#" class="btn">Download App</a>
    </header>

    <section class="hero">
        <div class="hero-text">
            <h4>The Ultimate</h4>
            <h1>Companion For Your Life</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting <br>industry. Lorem Ipsum has been the industry's.</p>
            <a href="#" class="btn">Download App</a>
        </div>
    </section>

</body>

</html>